{% extends 'frontend/base.html' %}
{% block content %}

<style>
    .profile {
        margin: 20px auto;
        border: solid black 2px;
        width: 50%;
    }
</style>

<div id="profile" class="profile container p-4">
    <p id="name">NOT LOGGED IN</p>
    <p id="email"></p>        
    <button type="button" id="logout-button" class="btn btn-primary">Logout</button>
</div>



<script>
    function logout() {
        localStorage.removeItem("jwt");
        console.log("loggedout!");
        window.location = "{% url 'landing' %}"
    }

    token = localStorage.getItem('jwt')

    axios({
        url: '{% url "api-user" %}',
        method: 'post',
        headers: {
            'Content-Type': 'application/json'
        },
        data: {
            jwt: token
        }
    })
    .then(res => {
        console.log(res);
        document.getElementById("name").innerHTML = `Welcome ${res.data.name} !`;
        document.getElementById("email").innerHTML = `Email: ${res.data.email}`;
    })
    .catch(err => {
        console.log(err.response);
    });

    document.getElementById("logout-button").addEventListener("click", logout)
</script>

{% endblock %}